<.form let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :user_uuid %>
  <%= text_input f, :user_uuid %>
  <%= error_tag f, :user_uuid %>

  <%= label f, :total_price %>
  <%= number_input f, :total_price, step: "any" %>
  <%= error_tag f, :total_price %>

  <div>
    <%= submit "Save" %>
  </div>
</.form>
