<!--
    Manally rendering templates..
    In cmd:  iex -S mix
    Phoenix.View.render_to_string(HelloWeb.PageView, "test.html", message: "Hello from IEx!")
    -> "This is the message: Hello from IEx!"
-->
This is the message: <%= @message %>
