<section class="phx-hero">
    <h2>Hello World, from Phoenix! oh no :D</h2>
    <p>Hot reloading?</p>
    <p><strong>Sure!</strong></p>
    <div>
        <h3>Paths helpers</h3>
        <%= link "Welcome Page!", to: Routes.page_path(@conn, :index) %>
    </div>
</section>
